 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,166,153,0.65), rgba(0,166,153,0.65)), url("images/pexels-binyamin-mellish-1396122.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 386px;
}

.u-section-1 .u-text-1 {
  margin: 170px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 281px;
}

.u-section-2 .u-map-1 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-2 .u-map-1 {
    margin-bottom: 14px;
  }
}